body
{
 margin: 0;
 padding: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Регулируйте ширину элементов по вашему усмотрению */
    gap: 16px; /* Промежуток между элементами */
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  